#navbar {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(13, 29, 13, 0.4);
}

#nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: gray;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 60px;
    background-color: #d9d9d9;
}

.hero img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    margin: 0;
    font-size: 100px;
    font-weight: bold;
}

.hero-text p {
    margin: 5px 0 0;
    font-size: 35px;
    color: #333;
}